@import url("https://fonts.googleapis.com/css?family=Dosis:300");

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mycontainer {
  background: #27282d;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  padding-top: 20px;
  height: 120px;
  width: 120px;
}

.nav-item-text {
  font-size: 50px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  text-align: center;
  color: white;
}

.input-container {
  width: 400px;
  height: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}

.input-style {
  width: 100%;
  margin: 1rem;
  border-radius: 8px;
  display: flex;
  background: transparent;
}


input::placeholder {
  color: white;
  font-size: 14px;
}

input:focus::placeholder {
  transform: translateY(-90%);
  transition: var(--transition-speed);
  font-size: 13px;
  color: rgb(163, 149, 149);
}

input,
button {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.5px;
  padding-left: 10px;
  color: white;
  font-size: 13px;
  display: flex;
  /* border-color: rgb(230, 191, 191); */
  justify-content: center;
  align-items: center;
}

.label-style {
  left: 0;
}

button:hover, input:hover {
  border-color: lightblue;
}

button:hover {
  background: #3f4048;
  transition: var(--transition-speed);
  cursor: pointer;
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.65);
}

.icons-register {
  display: flex;
  flex-direction: row;
}

.icon-register {
  color: rgb(128, 128, 221);
  width: 30px;
  height: 30px;
  margin-inline: 20px;
  justify-content: space-between;
}

.icon-register:hover {
  filter: grayscale(0%) opacity(1);
  color: rgb(50, 50, 189);
}

.register-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.register-link:hover {
  filter: grayscale(0%) opacity(1);
  color: rgb(128, 128, 221);
}